<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading" style="color: white; margin-bottom: 5px">{{ site.title }}</h2>
        <ul class="contact-list">
          <li>Feel free to contact me (I'm friendly)</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            {% include icon-twitch.html username='gstryfe' %}
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p style="margin-bottom: 5px">Dark Kimochi design (modified)</p>
        <p>Proudly hosted by <a href="https://pages.github.com/" target="_blank"><span class="octicon octicon-logo-github" style="color: #828282;
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 20px;"></span></a></p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.tooltipster.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
	if(location.pathname != "/") {
		$('.trigger a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
	} else $('.none a:eq(0)').addClass('active');
});

</script>
<!--
  <script>
        $(document).ready(function() {
            $('.tooltip-right').tooltipster({
                contentAsHTML: true,
                position: 'right',
            });
        });
        $(document).ready(function() {
            $('.tooltip-left').tooltipster({
                contentAsHTML: true,
                position: 'left',
            });
        });
    </script>-->
<script type="text/javascript" src="/assets/js/pace.js"></script>
<script type="text/javascript" src="/assets/js/jquery-autocomplete.js"></script>
<script type="text/javascript" src="/assets/js/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="/assets/js/responsive_waterfall.js"></script>
<script type="text/javascript" src="/assets/js/jquery.lazyload.min.js"></script>
<!--<script type="text/javascript" src="/assets/js/jquery.pjax.min.js"></script>-->
<script>


$(document).ready(function(){$(".menu-icon").click(function(){$(".trigger").toggle()})});var options={url:"/gblk.json",getValue:"title",list:{match:{enabled:!0}},template:{type:"links",fields:{link:"url"}},theme:"square"};Pace.on("start",function(){$(".pacel").show()}),Pace.on("done",function(){$(".pacel").hide()}),$(function(){$("img").lazyload({})});var waterfall=new Waterfall({containerSelector:".wf-container",boxSelector:".wf-box",minBoxWidth:180});$(document).ready(function(){$(".menu-icon").click(function(){$(".trigger").toggle()})});
</script>
<script id="dsq-count-scr" src="//guipaz.disqus.com/count.js" async></script>